# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\XPYSTUDY\Compiler\BUAA-Compiler2020-Clion-Edition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
